// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
				"primary": #624973,
				"secondary":#B099BF,
				"farve3": #E5D0F2,
				"farve4": #EADCF2,
				"farve5": #101010,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

#logo{
	content: url("../images/logo_redningsvest.png");
	max-height: 80px;
}

.websiteIcon{
	max-width: 80px;
}

.googlebutton{
	max-width: 90px;
}

.websiteIconBoks p{
	font-size: 14px;
}


